#A .box { background-color:#FFFFe0;color:#000000;}
#B .box { background-color:#FFFFe0;color:#000000;}
#C .box { background-color:#FFFFe0;color:#000000;}
#D .box { background-color:#FF7700;color:#000000;}
#E .box { background-color:#A5C700;color:#fff;}

#content-wrapper{margin:10px}
#closed-task-list-wrapper{display:none;}
#header{font-family:Calibri, Helvetica, sans-serif}
#logo{z-index:-1;float:left;width:120px;margin:10px -50px 0px 10px;cursor:pointer}
#progress {height:3px;background-color:#EEE;width:180px;margin-left:auto;border: 1px solid black}
#progress-fill {height:3px;background-color:green;}
#progress-started-fill{height:3px;background-color:#A5C700;}
#show-closed-tasks-link{cursor:pointer;text-decoration:underline;color:blue;margin:10px;font-size:13px}
#storage-notice{text-align:left;font-size:9px;color:#E00;}
.border {border-bottom:1px solid #CCC;}
  .box {min-height:55px;text-align:left;font-size:80%;padding:0.5em;border:1px solid black;margin-bottom:1em;margin-right:5px;border-radius:5px;box-shadow:1px 1px 5px #555;}
  .button {background-color:#DDD;color:#555;padding:0.2em;text-decoration:none;border:1px solid #555;}
.clear {clear:both;}
  .Defect{background-color:red;float:right;width:10px;height:10px;border: 1px solid black;border-radius:3px;}
  .dp14 {width:14%;  float:left;  display: inline;  *margin-right:-1px; margin-left:5%;}
  .dp50 {width:50%;  float:left;  display: inline;  *margin-right:-1px; }
  .dp100 {width:100%;  float:left;  display: inline;  *margin-right:-1px; }
  .footer { font-size: 80%; color: #777; padding: .5em; position:fixed; bottom:0; width: 100%;z-index:-1;}
.headline { font-weight: bold; height: 3em; color: #000000;}
  .hidden {display:none}
.highlight{background-color:#FFFFB2}
  .Improvement{background-color:green;float:right;width:10px;height:10px;border: 1px solid black;border-radius:3px;}
  .input {width: 75%; padding:3px; margin:5px; font-family:Century Gothic, sans-serif;border:1px solid #AAA;}
.placeholder {border: 1px solid black}
.queue_column .headline { font-weight: bold; height: 3em; color: #d0d0d0;}
  .task-list{border-collapse:collapse; width:100%; margin:auto;font-size:13px;}
  .task-list td{vertical-align:top;}
.task-list-wrapper{width:100%;height:650px;text-align:left;}
.title{font-weight:bold;font-size:11px;padding-bottom:3px;margin:0px;}
.tooltip {white-space:pre;text-align:left;display:none;position:absolute;border:1px solid #333;background-color:#161616;border-radius:5px;padding:10px;color:#fff;font-size:12px;}
body {margin: 0;text-align:center;color:#333;font-family:Century Gothic, sans-serif;background-image: url('./background.png');}
  fieldset p {vertical-align:top}
input[type=button]{padding:5px;margin-left:15px;}
textarea {height:150px;}
  ul { list-style: none; margin: 0 0 0 0; padding: 0 0 0 0;}
  
  .autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
